{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

<h1>{{ title }}</h1>
{# <pre>
{{ dump(employees,title) }}
</pre> #}

{# <img src="{{ asset('img/janedoe.png') }}" alt="Jane Doe"> #}
{# <img src="{{ asset('img/janedoe2.svg') }}" alt="Jane Doe"> #}

<ul>
{% for employee in employees  %}
    {# <li>{{ dump(employee) }}</li> #}
    {% if employee.Name == 'Jane Doe' %}

        <li><img src="{{ asset('img/janedoe2.svg') }}" alt="Jane Doe"> {{ employee.Name }} , {{ employee.Age }} ans , {{ employee.Email }} </li>

    {% else %}

        <li>{{ employee.Name }} , {{ employee.Age }} ans , {{ employee.Email }} </li>

    {% endif %}
{% endfor %}
</ul>

<p><a href="{{ path('homepage') }}">Retour page d'accueil</a></p>

<p><a href="{{ path('name', {slug: 'Michel BOMPARDIOLE'} ) }}">Lien twig avec parametres</a></p>

{% endblock %}
